{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">
            About Page
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam beatae voluptate facilis quod, placeat, quos maxime possimus corporis laborum id aliquid error, natus eveniet ipsam?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nam expedita optio, dolorem ut aliquam eaque repudiandae deserunt illum, molestiae, officia animi earum fugiat. Ullam et minus eligendi iure rerum?
        </p>
    </div>
{% endblock content %}
